.container{
    width: 1100px;
    margin: auto;
    display: flex;
}

.albums{
    width: 300px;
}
.albums ul, .photos ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
.albums ul li, .photos ul li {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid aliceblue;
    margin-bottom: 10px;

}
.album-name {
    font-size: 20px;
    font-weight: bold;


}
.albums ul li:hover{
    background-color: aliceblue;
}
.photos ul li {
    cursor: text;
}
.null-photo-selected{
    font-size: 20px;
    text-align: center;
    align-self: center;
    float: 1;
}
.photos{
    flex: 1;
}

.filter input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
}
.filter{
    margin-bottom: 15px;
}